main {
  position: fixed;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
}
.App {
  max-width: 1280px;
  margin: 0 auto 0;
  height: 100%;
  /* padding: 2rem; */
  text-align: center;
}

#root {
  top: 0;
  width: 100%;
  height: 100%;
}

/* .card {
  padding: 2em;
} */

